<?xml version="1.0"?>

<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
  <configSections>
    <section name="log4net" type="System.Configuration.IgnoreSectionHandler"/>
  </configSections>
  <appSettings>
  </appSettings>
  <!--日志处理-->
  <log4net debug="true">
    <!--定义输出到文件中-->
    <appender name="LogFileAppender" type="log4net.Appender.RollingFileAppender">
      <file value="logs\logfile" />
      <appendToFile value="true"/>
      <rollingStyle value="Composite" />
      <maxSizeRollBackups value="-1"/>
      <maximumFileSize value="10MB"/>
      <staticLogFileName value="false" />
      <datePattern value="yyyy-MM-dd&quot;.xml&quot;" />
      <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
      <layout type="log4net.Layout.XmlLayoutSchemaLog4j">
        <locationInfo value="true"/>
      </layout>
    </appender>
    <!--ide 输出-->
    <appender name="OutputDebugStringAppender" type="log4net.Appender.OutputDebugStringAppender" >
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="--时间：%date 线程ID:[%thread] 级别：%-5level 类：%logger property:[%property{NDC}] - 描述：%message%newline" />
      </layout>
    </appender>
    <!-- 将日志信息写入System.Diagnostics.Trace系统（出现在输出窗口）-->
    <appender name="TraceAppender" type="log4net.Appender.TraceAppender" >
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="--时间：%date 线程ID:[%thread] 级别：%-5level 类：%logger property:[%property{NDC}] - 描述：%message%newline" />
      </layout>
    </appender>

    <!--定义输出到控制台命令行中-->
    <appender name="ConsoleAppender" type="log4net.Appender.ConsoleAppender">
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="时间：%date 线程ID:[%thread] 级别：%-5level 类：%logger property:[%property{NDC}] - 描述：%message%newline" />
      </layout>
    </appender>
    <!--定义输出到windows事件中-->
    <appender name="EventLogAppender" type="log4net.Appender.EventLogAppender">
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="时间：%date 线程ID:[%thread] 级别：%-5level 类：%logger property:[%property{NDC}] - 描述：%message%newline" />
      </layout>
    </appender>

    <!--定义日志的输出媒介，下面定义日志以四种方式输出。也可以下面的按照一种类型或其他类型输出。-->
    <root>
      <level value="Debug"/>
      <!--文件形式记录日志-->
      <appender-ref ref="LogFileAppender" />
      <!--控制台控制显示日志-->
      <!--<appender-ref ref="ConsoleAppender" />-->
      <!--Windows事件日志-->
      <!--<appender-ref ref="EventLogAppender" />-->
      <!--debug 输出-->
      <!--<appender-ref ref="OutputDebugStringAppender" />-->
      <!--ide 输出窗口显示日志-->
      <!--<appender-ref ref="TraceAppender" />-->
    </root>
  </log4net>
</configuration>