<div class="footer">
    <div class="footer-inner">
        2013 &copy; 手机驿站版权所有
    </div>
    <div class="footer-tools">
        <span class="go-top">
            <i class="icon-angle-up"></i>
        </span>
    </div>
</div>
