@using AppStore.Models
@using Webdiyer.WebControls.Mvc
@model Webdiyer.WebControls.Mvc.PagedList<AppStore.Models.PCClient>

<table class="table table-striped table-bordered table-hover" id="dataList">
    <thead>
        <tr>
            <th>应用名称</th>
            <th>装机用户</th>
            <th>今日启动次数</th>
            <th>7天活跃用户</th>
            <th>有效安装</th>
        </tr>
    </thead>
    <tbody>
        @if (Model != null && Model.Count > 0)
        {
        }
        else
        {

            <tr class="odd gradeX">
                <td colspan="9">暂无数据</td>
            </tr>
        }
    </tbody>
</table>
<div>
    <div style="float: left; width: 50%">共 @Model.TotalPageCount 页 @Model.TotalItemCount 条记录，当前为第 @Model.CurrentPageIndex 页</div>
    @Ajax.Pager(Model, new PagerOptions { PageIndexParameterName = "index", ShowPageIndexBox = true, PageIndexBoxType = PageIndexBoxType.DropDownList, ShowGoButton = false },
    new MvcAjaxOptions { UpdateTargetId = "dataArea", DataFormId = "searchForm" }, new { style = "float:right" })
</div>
