@model AppStore.WebUI.Models.BreadcrumbSet
<div class="row breadcrumbs margin-bottom-20">
    <div class="container">
        <div class="col-md-6 col-sm-6">
            <h1>@Model.Current.Text</h1>
        </div>
        <div class="col-md-6 col-sm-6">
            <ul class="pull-right breadcrumb">
                <li><a href="javascript:history.go(-1);">返回</a></li>
            </ul>
        </div>
    </div>
</div>
