@using AppStore.Models
@using Webdiyer.WebControls.Mvc
@model Webdiyer.WebControls.Mvc.PagedList<AppStore.Models.Driver>
@{
    ViewBag.Title = "驱动列表";
}
@section style
{
}
@section featured {
}
@section importscript{
    @{Html.RegisterMvcPagerScriptResource();}
}

<!-- END SAMPLE PORTLET CONFIGURATION MODAL FORM-->
<!-- BEGIN PAGE HEADER-->
<div class="row">
    <div class="col-md-12">
        <!-- BEGIN PAGE TITLE & BREADCRUMB-->
        <h3 class="page-title">系统管理 <small>驱动列表</small>
        </h3>
        <ul class="page-breadcrumb breadcrumb">
            <li>
                <i class="icon-home"></i>
                <a href="/">系统管理</a>
                <i class="icon-angle-right"></i>
            </li>
            <li><a href="#">驱动列表</a></li>
        </ul>
        <!-- END PAGE TITLE & BREADCRUMB-->
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="portlet-body">
            <div class="table-toolbar">
                <div class="btn-group">
                    <a id="sample_editable_1_new" class="btn green" href="@Url.Action("Driver")">添加新的驱动 <i class="icon-plus"></i>
                    </a>
                </div>
            </div>
            <div id="dataArea">
                @Html.Partial("_DriverList", Model)
            </div>
        </div>
    </div>
</div>
